services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d service" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
  migrate:
    image: migrate/migrate:v4.15.1
    depends_on:
      db:
        condition: service_healthy
    command: [
      "-path", "./migrations/",
      "-database", "postgres://postgres:password@db:5432/service?sslmode=disable",
      "up"
    ]
    volumes:
      - ./migrations:/migrations
    networks:
      - app-network

  payment-service:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
      - migrate
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      HTTP_PORT: ${HTTP_PORT}
    networks:
      - app-network
volumes:
  postgres_data:
networks:
  app-network:
    driver: bridge
